@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só 1 elemento por paǵina)
    em HTML é class = em CSS é . (pode ter vários elementos por página)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(44, 206, 44);
}

.intermediario {
    color: rgb(168, 168, 37);
}

.avancado {
    color: rgb(219, 34, 34)
}

.destaque {
    background-color: rgba(167, 167, 39, 0.699);
}